/* Add your own styles */
body{
    background-color: #E2E8F0;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    width: 100vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;
}

header{
    background-color: #4A5568;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

#controls{
    margin: 20px 0;
    text-align: center;
    flex-wrap: wrap;
}

#country{
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 40%;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0,0,0, 0.10);
}

.lookup{
    width: 150px;
    height: 40px;
    background-color: #4169b4;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    margin: 20px 5px;
}

#city{
    background-color: #548DEE;
}

#result{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-color: #41b494;
    border-collapse:separate;
    width: 90%;
    vertical-align: left;
    margin-top: 30px;
    margin-left: 75px;
}

td {
    border: none;
    padding: 8px;
    text-align: left;
}

th {
    text-align: center;
    border: none;
    padding: 8px;
    font-weight: bold;
}

table tr:nth-child(even){background-color: #ebecf0;}
table tr:nth-child(odd){background-color: #fff;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border: none;
  background-color:#4169b4;
  color: white;
}

button {
    display: inline-block;
    height: 60px;
    width: 180px;  
    background-color: #4169b4;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    box-shadow: none;
    margin-top: 20px;
}
